
<div class="about__advantages section">
    <section class="about">
        <div class="container">
            <h2 class="title-second title-second--big-margin" id="about">about Us</h2>
            <div class="about__content">
                <div class="about__text">
                    <p class="about__p">Now, tattoos have become part of modern fashion and remain constantly in trend.
                        They
                        look different - exciting, cute,
                        beautiful, spectacular, and so on. Thousands of people every day, decide to make a unique image.
                    </p>
                    <p class="about__p">The services of our highly skilled craftsmen are used by many people who have
                        decided to
                        change their appearance for the
                        better. The secret of their high-quality activities lies in the talent and vast experience.</p>
                </div>
                <img class="about__big-img" srcset="./images/about/about-5.jpg 558w,
            ./images/about/tablet_1x.jpg 352w,
            ./images/about/mob_1x.jpg 450ww" src="./images/about/about-5.jpg"
                    sizes="(min-width: 1200px) 558px, (min-width: 768px) 352px, (min-width: 480px) 450px, 100vw"
                    alt="make tattoo" loading="lazy">
            </div>

            <ul class="about__list-img">
                <li class="about__item-img"><img src="./images/about/about-1.jpg" alt="" width="264"></li>
                <li class="about__item-img"><img src="./images/about/about-2.jpg" alt="" width="264"></li>
                <li class="about__item-img"><img src="./images/about/about-3.jpg" alt="" width="264"></li>
                <li class="about__item-img"><img src="./images/about/about-4.jpg" alt="" width="264"></li>
            </ul>
        </div>
    </section>


<section class="advantages">
    <div class="container">
        <h2 class="title-second title-second--big-margin">why are we better than others</h2>
        <ul class="advantages__list">

            <li class="advantages__item">
                <svg class="advantages__icon" width="64" height="64">
                    <use href="./images/symbol-defs.svg#icon-rose"></use>
                </svg>
                <h3 class="advantages__title">quality</h3>
                <p class="advantages__text">The desire to become better stimulates us to be responsible for each of our
                    work. Masters with art education</p>
            </li>

            <li class="advantages__item">
                <svg class="advantages__icon" width="64" height="64">
                    <use href="./images/symbol-defs.svg#icon-mashin"></use>
                </svg>
                <h3 class="advantages__title">safeness</h3>
                <p class="advantages__text">Disposable supplies only and proven remedys, absolutely sterile room,
                    specialists with medical education</p>
            </li>

            <li class="advantages__item">
                <svg class="advantages__icon" width="64" height="64">
                    <use href="./images/symbol-defs.svg#icon-chair"></use>
                </svg>
                <h3 class="advantages__title">EXPERIENCE</h3>
                <p class="advantages__text">Over 10 years of experience allows you to realize any of your work. Over
                    10,000
                    customers recommend our tattoo studio</p>
            </li>
        </ul>
    </div>
</section>
</div>