<section class="feedback section__feedback">
    <div class="container ">
        <p class="feedback__title">Do you want a tattoo?</p>
        <form class="feedback__form" name="feedback">
            <div class="feedback__wrap-input">
                <label for=""><input class="feedback__input" type="text" name="name" placeholder="Name"></label>

                <label for=""><input class="feedback__input" type="tel" name="phone" placeholder="Phone"></label>
            </div>
            <textarea class="feedback__textarea" name="" id="" rows="3"
                placeholder="Tell us what do you want"></textarea>
            <button class="btn__second" type="submit">Sent</button>
        </form>
    </div>
</section>