<footer class="footer">
    <div class="container footer__container">
        <div class="footer__logo-link-wrap">
            <div class="footer__logo_wrap">
                <a href="">
                    <svg class="logo" width="164" height="46">
                        <use href="./images/symbol-defs.svg#logo"></use>
                    </svg>
                </a>
            </div>

            <ul class="social__list social-list--tablet">
                <li><a href="">
                        <svg class="social__icon" width="44" height="44">
                            <use href="./images/symbol-defs.svg#icon-facebook"></use>
                        </svg>
                    </a></li>

                <li><a href="">
                        <svg class="social__icon" width="44" height="44">
                            <use href="./images/symbol-defs.svg#icon-instagram"></use>
                        </svg>
                    </a></li>

                <li><a href="">
                        <svg class="social__icon" width="44" height="44">
                            <use href="./images/symbol-defs.svg#icon-pinterest"></use>
                        </svg>
                    </a></li>
            </ul>

        </div>

        <address class="address">
            <ul class="address__list">
                <li class="address__item"><a href="">
                        <div class="address__wrap">
                            <svg class="" width="24" height="24">
                                <use href="./images/symbol-defs.svg#icon-pin_light"></use>
                            </svg>
                            <span class="address__title">Address:</span>
                        </div>
                        <span class="address__text">str Barikadnaya, 6, Dnipro</span>
                    </a></li>

                <li class="address__item"><a href="">
                        <div class="address__wrap">
                            <svg class="" width="24" height="24">
                                <use href="./images/symbol-defs.svg#icon-time_light"></use>
                            </svg>
                            <span class="address__title">Studio Hours:</span>
                        </div>
                        <span class="address__text">12fm to 8pmm - Everyday</span>
                    </a></li>

                <li class="address__item"><a href="">
                        <div class="address__wrap">
                            <svg class="" width="24" height="24">
                                <use href="./images/symbol-defs.svg#icon-carbon-phone"></use>
                            </svg>
                            <span class="address__title">Phone:</span>
                        </div>
                        <span class="address__text">80935582025</span>
                    </a></li>
            </ul>
        </address>


        <ul class="social__list social-list--centr">
            <li><a href="">
                    <svg class="social__icon" width="44" height="44">
                        <use href="./images/symbol-defs.svg#icon-facebook"></use>
                    </svg>
                </a></li>

            <li><a href="">
                    <svg class="social__icon" width="44" height="44">
                        <use href="./images/symbol-defs.svg#icon-instagram"></use>
                    </svg>
                </a></li>

            <li><a href="">
                    <svg class="social__icon" width="44" height="44">
                        <use href="./images/symbol-defs.svg#icon-pinterest"></use>
                    </svg>
                </a></li>
        </ul>


    </div>
</footer>