<!-- modal menu -->

<div class="menu-container js-menu-container" id="mobile-menu">
    <button class="menu-toggle js-close-menu">
        <svg class="menu-toggle__icon" width="40" height="40">
            <use href="./images/symbol-defs.svg#icon-close_40px"></use>
        </svg>
    </button>

    <ul class="menu-list">
        <li><a href="" class="menu-list__link link menu-list__link--current">About</a></li>
        <li><a href="" class="menu-list__link link">Artists</a></li>
        <li><a href="" class="menu-list__link link">Portfolio</a></li>
        <li><a href="" class="menu-list__link link">Contacts</a></li>
    </ul>

    <ul class="menu-contacts">
        <li class="menu-contacts__item">
            <a class="menu-contacts__item--tel link" href="tel:380935582025">+38 093 558 20 25</a>
        </li>
        <li class="menu-contacts__item">
            <a class="menu-contacts__item--mail link" href="mailto:info@devstudio.com">tattoo_bg@studio.com</a>
        </li>
        <li class="menu-contacts__item menu-contacts__item--last">
            <a class="menu-contacts__item--mail link" href="mailto:info@devstudio.com">Adress: str Barikadnaya, 6,
                Dnipro</a>
        </li>
    </ul>

    <ul class="social__list ">
        <li><a href="">
                <svg class="social__icon" width="44" height="44">
                    <use href="./images/symbol-defs.svg#icon-facebook"></use>
                </svg>
            </a></li>

        <li><a href="">
                <svg class="social__icon" width="44" height="44">
                    <use href="./images/symbol-defs.svg#icon-instagram"></use>
                </svg>
            </a></li>

        <li><a href="">
                <svg class="social__icon" width="44" height="44">
                    <use href="./images/symbol-defs.svg#icon-pinterest"></use>
                </svg>
            </a></li>
    </ul>
</div>