<!-- Modal-->

<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <button class="modal__close-btn" type="button" data-modal-close>
            <svg class="modal__icon-close" width="32" height="32">
                <use href="./images/symbol-defs.svg#icon-close_40px"></use>
            </svg></button>

        <p class="modal__title">Do you want a tattoo?</p>

        
        <form class="feedback__form--modal" name="feedback">
            <div class="feedback__wrap-input">
                <label for=""><input class="feedback__input" type="text" name="name" placeholder="Name"></label>
        
                <label for=""><input class="feedback__input" type="tel" name="phone" placeholder="Phone"></label>
            </div>
            <textarea class="feedback__textarea" name="" id="" rows="3" placeholder="Tell us what do you want"></textarea>
            <button class="btn__second" type="submit">Sent</button>
        </form>
    </div>

</div>