<section class="portfolio section">

    <h2 class="title-second title-for-animate" id="portfolio">PORTFOLIO</h2>
    <p class="titlem__sub-text">The chosen theme or drawing can be executed in different sizes, different colors and
        styles</p>
    <ul class="gallary">
        <li class="gallary__menu gallary__menu--woman">
             <span>Gallary for</span>
            <button class="gallary__menu-button--woman" type="button"><span class="gallary__menu-text--bold">WOMAN</span></button>
        </li>
        <li class="gallary__menu gallary__menu--man"><span> Gallary for</span>
            <button class="gallary__menu-button--man" type="button"><span class="gallary__menu-text--bold">MAN</span></button>
        </li>
    </ul>
    <div class="container">
        <!-- <ul class="gallary__btn-list">
            <li><button class="btn-radio" type="button">tattoo</button></li>
            <li><button class="btn-radio" type="button">sketch</button></li>
            <li><button class="btn-radio" type="button">Cover up</button></li>
            <li><button class="btn-radio" type="button">piercing</button></li>
        </ul> -->

        <ul class="gallary__fotos">
            <!-- <li class="gallary__img"><img src="./images/gallary/tattoo-1.jpg" alt="tattoo"></li>
            <li class="gallary__img"><img src="./images/gallary/tattoo-2.jpg" alt="tattoo"></li>
            <li class="gallary__img"><img src="./images/gallary/tattoo-3.jpg" alt="tattoo"></li>
            <li class="gallary__img"><img src="./images/gallary/tattoo-4.jpg" alt="tattoo"></li>
            <li class="gallary__img"><img src="./images/gallary/tattoo-5.jpg" alt="tattoo"></li>
            <li class="gallary__img"><img src="./images/gallary/tattoo-6.jpg" alt="tattoo"></li>
            <li class="gallary__img"><img src="./images/gallary/tattoo-7.jpg" alt="tattoo"></li>
            <li class="gallary__img"><img src="./images/gallary/tattoo-8.jpg" alt="tattoo"></li> -->
        </ul>
    </div>
</section>