<section class="price section">
    <div class="container price__container">
        <img class="price__img" src="./images/price.jpg" alt="girl with tatto" loading="lazy">
        <div class="price__content">
            <p class="price__title--small">How much will my tattoo cost?</p>
            <h2 class="title-second title-second--left">COMPETITIVE PRICING</h2>
            <p class="price__text">Good tattoos are not cheap and you don't want to be cheap with your body. Cover-ups
                are
                not always possible and Tattoo
                Removals be very costly so you want to do it right.</p>
            <p class="price__text">Tell us your idea and can give you an estimate on how much time and money you’ll need
                for
                your custom tattoo.</p>
            <button class="btn price__btn" type="button">consultation</button>
        </div>
    </div>
</section>