<section class="team section">
    <div class="container">
        <h2 class="title-second title-second--small-margin">our team tattoo masters</h2>
        <p class="titlem__sub-text">All our masters are certified professionals with many years of experience.
        </p>
        <ul class="team__list">

            <li class="team__item">
                <img src="./images/team/master-2.jpg" alt="">
                <div class="team__content">
                    <p class="team__name">Bob Tomass</p>
                    <p class="team__position">tattoo master</p>


                    <ul class="social__list social__list--center">
                        <li>
                            <a class="social" href="" target="_blank" rel="nofollow noopener noreferrer"
                                aria-label="instagram">
                                <svg class="social__icon" width="40" height="40">
                                    <use href="./images/symbol-defs.svg#icon-instagram"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a class="social" href="" target="_blank" rel="nofollow noopener noreferrer"
                                aria-label="twitter">
                                <svg class="social__icon" width="40" height="40">
                                    <use href="./images/symbol-defs.svg#icon-facebook"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a class="social" href="" target="_blank" rel="nofollow noopener noreferrer"
                                aria-label="facebook">
                                <svg class="social__icon" width="40" height="40">
                                    <use href="./images/symbol-defs.svg#icon-pinterest"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                    <p class="team__text">Master of artistic tattoo. The main areas of work are linework, dotwork,
                        blackwork,
                        graphics.</p>
                </div>
            </li>

            <li class="team__item">
                <img src="./images/team/master-1.jpg" alt="">
                <div class="team__content">
                    <p class="team__name">Kate Monak</p>
                    <p class="team__position">tattoo master</p>
                    <ul class="social__list social__list--center">
                        <li>
                            <a class="social social--c-greyr-bg-white" href="" target="_blank"
                                rel="nofollow noopener noreferrer" aria-label="instagram">
                                <svg class="social__icon" width="40" height="40">
                                    <use href="./images/symbol-defs.svg#icon-instagram"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a class="social social--c-greyr-bg-white" href="" target="_blank"
                                rel="nofollow noopener noreferrer" aria-label="twitter">
                                <svg class="social__icon" width="40" height="40">
                                    <use href="./images/symbol-defs.svg#icon-facebook"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a class="social social--c-greyr-bg-white" href="" target="_blank"
                                rel="nofollow noopener noreferrer" aria-label="facebook">
                                <svg class="social__icon" width="40" height="40">
                                    <use href="./images/symbol-defs.svg#icon-pinterest"></use>
                                </svg>
                            </a>
                        </li>

                    </ul>
                    <p class="team__text">Master of artistic tattoo. The main areas of work are linework, dotwork,
                        blackwork,
                        graphics.</p>
                </div>
            </li>

            <li class="team__item">
                <img src="./images/team/master-3.jpg" alt="">
                <div class="team__content">
                    <p class="team__name">john Cain</p>
                    <p class="team__position">tattoo master</p>
                    <ul class="social__list social__list--center">
                        <li>
                            <a class="social social--c-greyr-bg-white" href="" target="_blank"
                                rel="nofollow noopener noreferrer" aria-label="instagram">
                                <svg class="social__icon" width="40" height="40">
                                    <use href="./images/symbol-defs.svg#icon-instagram"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a class="social social--c-greyr-bg-white" href="" target="_blank"
                                rel="nofollow noopener noreferrer" aria-label="twitter">
                                <svg class="social__icon" width="40" height="40">
                                    <use href="./images/symbol-defs.svg#icon-facebook"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a class="social social--c-greyr-bg-white" href="" target="_blank"
                                rel="nofollow noopener noreferrer" aria-label="facebook">
                                <svg class="social__icon" width="40" height="40">
                                    <use href="./images/symbol-defs.svg#icon-pinterest"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                    <p class="team__text">Master of artistic tattoo. The main areas of work are linework, dotwork,
                        blackwork,
                        graphics.</p>
                </div>
            </li>
        </ul>
    </div>
</section>